:root {
  --anime-card-color: rgb(55, 38, 117);
  --text-color: rgb(255, 255, 255);
}
body {
  color: var(--text-color);

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.anime-list {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 5px;

  aspect-ratio: 100 / 150;
}

/*  Desktop */
@media screen and (min-width: 394px) {
  .anime-list {
    grid-template-rows: repeat(auto-fill, 394px);
    grid-template-columns: repeat(auto-fill, minmax(180px, 0.5fr));
  }

  .thumbnail {
    height: 300px;
  }
}
/*  Phone */
@media screen and (max-width: 394px) {
  .anime-list {
    grid-template-rows: repeat(auto-fill, fit-content);
    grid-template-columns: repeat(2, 0.5fr);
  }
  .thumbnail img {
    max-width: 100%;
  }
  .thumbnail {
    height: 210px;
  }
}
@media screen and (max-width: 260px) {
  .anime-list {
    grid-template-rows: repeat(auto-fill, fit-content);
    grid-template-columns: repeat(1, 1fr);
  }
  .thumbnail img {
    max-width: 100%;
  }
  .thumbnail {
    height: 300px;
  }
}
.anime {
  background-color: var(--anime-card-color);
}
.anime-info {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 85px;
}
.thumbnail {
  width: 100%;
}
.thumbnail img {
  height: 100%;

  width: 94%;

  margin: 5px;

  aspect-ratio: 100 / 130;
}
.anime a:visited,
a {
  color: var(--text-color);
  text-decoration: none;

  text-wrap: balance;
}
