:root {
  --anime-card-color: rgb(55, 38, 117);
  --text-color: rgb(255, 255, 255);
}
body {
  color: var(--text-color);

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.anime-list {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 5px;

  height: fit-content;
}

.anime-list {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.thumbnail {
  aspect-ratio: 100 / 130;

  object-fit: contain;
  width: 100%;
}
.anime {
  background-color: var(--anime-card-color);

  object-fit: contain;
  aspect-ratio: 100 / 130;
}
.anime-info {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 85px;
}
.thumbnail {
  width: 100%;
  object-fit: contain;
}
.thumbnail img {
  height: 100%;

  width: 94%;

  margin: 5px;

  aspect-ratio: 100 / 130;
}
.anime a:visited,
a {
  color: var(--text-color);
  text-decoration: none;

  text-wrap: balance;
}
