<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for (i in range(length(schedule)) { %>
    <a> <%= schedule[i].title %></a> <br />
    <a> <%= schedule[i].episode_num %></a> <br />
    <img src="<%= schedule[i].cover_url %>" <br />
    <a> <%= schedule[i].is_out %></a> <br />
    <% } %>

    <br />
    Recent
    <br />
    <% for (i in range(length(recent)) { %>
    <a> <%= recent[i].title %></a> <br />
    <a> <%= recent[i].episode_num %></a> <br />
    <img src="<%= recent[i].cover_url %>" <br />
    <a> <%= recent[i].is_out %></a> <br />
    <% } %>
  </body>
</html>
