<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Document
    </title>
  </head>
  <body>
    {{#each data}}
      <a>
        {{this.title}}
      </a>
      <br />
    {{/each}}
  </body>
</html>