<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Watch
      {{title}}
    </title>
    <link rel="stylesheet" href="/static/css/watch.css" />
  </head>

  <body>
    {{#each episodes}}
      <button onclick="setPlayer({{this.num}})">{{this.num}}</button>
    {{/each}}

    <div id="player-wrapper">
      <div id="loading-spinner">
        Loading...
      </div>
      <iframe id="player"></iframe>
    </div>

  </body>
  <script>
    let id = "{{id}}";
  </script>
  <script src="/static/js/watch.js"></script>

</html>